.fc-event {
    white-space: normal !important; /* Allow text wrapping */
}
.event-details {
    font-size: 0.8em;
}
.completed-note {
    background-color: var(--green); /* Define the background color for completed status */
    color: white; /* Optional: to ensure text is readable */
    padding: 5px;
    border-radius: 5px;
}
.rejected-note {
    background-color: var(--red); /* Define the background color for completed status */
    color: white; /* Optional: to ensure text is readable */
    padding: 5px;
    border-radius: 5px;
}
.pending-note {
    background-color: var(--violet1); /* Define the background color for completed status */
    color: white; /* Optional: to ensure text is readable */
    padding: 5px;
    border-radius: 5px;
}
.fc-title {
    background: none;
}
.fc-more {
    font-size: var(--text-l2);
    background: var(--violet1);
    padding: 10px 5px;
    border-radius: 5px;
    color: var(--white);
}