.top-nav-0, .top-nav-1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    top: 0;
    position: sticky;
    background-color: var(--pink);
    z-index: 20;
}
.top-nav-0-links {
    display: flex;
    gap: 10px;
}
.top-nav-link {
    padding: 10px 20px;
    text-decoration: none;
    color: var(--white2);
}
.top-nav-link.active {
    border-bottom: 1px solid var(--white2);
}
.top-nav-1 {
    background-color: var(--white);
    filter: drop-shadow(0 0 1px var(--grey1));
    
}










/* DOCTOR TOP NAV */
.top-nav-2 {
    width: calc(100% - 300px);
    margin: 0 0 0 300px;
    padding: 10px 50px;
    background: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    filter: drop-shadow(0 0 1px var(--grey1));
    top: 0;
    position: sticky;
    z-index: 20;
}
.top-nav-mini-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    background: var(--violet4);
    padding: 1px 10px 1px 1px;
    color: var(--black2);
}
.top-nav-2-pfp {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: var(--grey1);
}

/* SideNav DOCTOR */
.side-nav-1 {
    width: 300px;
    height: 100vh;
    z-index: 20;
    background: var(--white);
    filter: drop-shadow(0 0 1px var(--grey1));
    position: fixed;
    top: 0;
}
.side-nav-1-links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}
.side-nav-logo {
    width: 100%;
    height: 70px;
    overflow: hidden;
    position: relative;
}
.side-nav-logo img {
    position: absolute;
    width: 100%;
    height: 100%;
}
.side-nav-1-link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--black2);
    font-weight: bold;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 10px;
}
.side-nav-1-link.active {
    background: var(--violet1);
    color: var(--white2);
}
.side-nav-pfp {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: var(--grey1);
    position: relative;
    display: flex;
    overflow: hidden;
}
.side-nav-pfp img {
    position: absolute;
    height: 100%;
}








.side-nav-0 {
    width: 300px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: fixed;
    background: var(--white);
    padding: 30px 0 0 0;
    filter: drop-shadow(0 0 1px var(--grey1));
    z-index: 19;
}
.side-nav-0-links {
    display: flex;
    flex-direction: column;
    gap: 5px 10px;
}
.side-nav-0-link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: var(--black2);
    font-weight: bold;
    padding: 10px 20px;
    cursor: pointer;
}
.side-nav-0-link.active {
    background: var(--grey1);
}
.logout-btn {
    justify-self: end;
}